/* 4. Services */
.services {
    padding: 3rem 0;
}

.services__left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.services__right h6 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.services__right h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.services__right p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
}

.services__right ul {
    list-style: none;
}

.services__right ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

.services__right ul li span {
    color: #189a46;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}